{% extends 'base.html' %} {% block content %}

<h1>Game Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ game.name }}</span>
    <p>Genre: {{ game.genre }}</p>
    <p>Description: {{ game.description }}</p>
    <p>Year Released: {{ game.date }}</p>
    <p>Rating: {{game.rating}}</p>
  </div>
  <div class="card-action">
    <a href="{%url 'games_update' game.id %}">Edit</a>
    <a href="{%url 'games_delete' game.id %}">Delete</a>
  </div>
</div>
<hr />
<div class="row">
  <div class="col s6">
    <h3>{{ game.name }}'s Consoles</h3>
    {% if game.consoles.count %} {% for console in game.consoles.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A
          <span style="color: {{ console.color }}">{{console.color}}</span>
          {{console.name}}
        </span>
        <div class="card-action">
          <form
            action="{%url 'remove_assoc_console' game.id console.id %}"
            method="post"
          >
            {% csrf_token %}
            <button type="submit" class="btn red">Remove</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Consoles :(</h5>
    {%endif%}
  </div>
  <div class="col s6">
    <h3>Available Consoles</h3>
    {% if consoles.count %} {% for console in consoles.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A
          <span style="color: {{ console.color }}">{{ console.color }}</span>
          {{console.name}}
        </span>
      </div>
      <div class="card-action">
        <form
          action="{%url 'assoc_console' game.id console.id %}"
          method="post"
        >
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{game.name}} Already Has All Consoles Available</h5>
    {% endif %}
  </div>
</div>

{% endblock %}
